#race {
	text-align: center;
	overflow: hidden;
}

#racetrack {
	background: url("img/road.jpg") center left repeat-x;
	height: 330px;
	border-right: dashed 10px white;
	box-sizing: border-box;
	margin: 40px 0;
}

.car {
	display: block;
	position: relative;
}

#car1 {
	top: 30px;
}

#car2 {
	top: 100px;
}

#raceInfoContainer {
	width: 80%;
	margin: 40px auto 0;
	background: #333;
	height: 200px;
	text-align: center;
}

#raceInfoContainer h2 {
	color: white;
	text-transform: uppercase;	
	border-bottom: solid 1px white;
	padding: 20px 0;
	text-align: center;
}

.raceInfo {
	font-size: 24px
	font-weight: bold;
	color: white;
	width: 50%;
	float: left;
}

.raceInfo span {
	display: block;
	font-weight: normal;
	font-size: 18px;
	color: white;
}

#raceInfo1 {
	color: #77B82F;
}

#raceInfo2 {
	color: #B82F3E;
}

input[type="button"] {
	background: #77B82F;
	color: white;
	padding: 10px 20px;
	border: solid 1px #444;
}

input#reset {
	background: #FC3;
	color: #444;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}